/[Ll]ibrary/ 
/[Tt]emp/ 
/[Oo]bj/ 
/[Bb]uild/ 
/[Bb]uilds/ 
/[Cc]alogs/ 
/[Mm]emoryCaptures/ 
/[Ll]ogs/ 
/[Uu]nityConfiguration/ 
/UserSettings/ 
*.csproj 
*.sln 
*.unityproj 
*.suo 
*.slnx 
.vsconfig
.vs/ 
*.user
